.crosswordContent {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}

.crosswordCluesCard {
  flex: 0 1 500px;
}

.crosswordGridCard {
  flex: 0 1;
}

@media (max-width: 1450px) {
  .crosswordCluesCard {
    flex: 0 1 400px;
  }
}

@media (max-width: 1000px) {
  .crosswordContent {
    gap: 0px;
  }
}

@media (max-width: 850px) {
  .crosswordGridCard {
    order: -1;
  }
}

@media (max-width: 850px) {
  .crosswordContent {
    flex-wrap: wrap;
  }
}

