.nav ul {
  list-style: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav li {
  font-size: 1.25rem;
}

.nav a {
  text-decoration: none;
  color: #88dfdf;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #e6fcfc;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

@media (max-width: 500px) {
  .nav ul {
    flex-direction: column;
    gap: 5px;
  }
}