.cell input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: x-large;
  border: 1px solid black;
  outline: 0;
  caret-color: transparent;
  padding: 0;
  text-transform: capitalize;
}
.cell input:focus {
  background-color: lightgray;
}
.cellInput.filled {
  background-color: black;
}