@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

.thinBorder {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.page-enter {
  animation: slideFromRight 1s forwards;
}
.page-exit {
  /* transition-delay: 3s; */
  animation: SlideToLeft 1s forwards;
}

.mainPageContainer {
  display: flex;
  justify-content: center;
}

.mainPageContainer > .page {
  width: 100%;
}

.mainPageContainer > .page-enter {
  order: 1;
}

.mainPageContainer > .page-exit {
  order: -1;
}

@keyframes slideFromRight {
  0% {
      opacity: 0;
      width: 0%;
      transform: translateX(100%);
  }
  100% {
      opacity: 1;
      width: 100%;
      transform: translateX(0%);
  }
}

@keyframes SlideToLeft {
  0% {
      opacity: 1;
      width: 100%;
      transform: translateX(0%);
  }
  30% {
    opacity: 0;
  }
  100% {
      opacity: 0;
      width: 0%;
      transform: translateX(-100%);
  }
}